<div class="body" fxLayout="row" fxFlex>
  <div fxLayout="column" fxFlex>
    <div fxLayout="row" fxFlex>
      <div fxLayout="column" fxFlex>
        <img src="Frontend\src\assets\placeholder.jpg">
      </div>
      <div fxLayout="column" fxFlex>
        <mat-card id="nft-item-description">
          <mat-card-title>Lucidium Ornate</mat-card-title>
          <mat-card-content>
            <div fxLayout="row" fxFlex>
              <div fxLayout="column" id="list-column" fxFlex>
                <div fxLayout="row" fxFlex>
                  hello
                </div>
                <div fxLayout="row" fxFlex>
                  hello
                </div>
                <div fxLayout="row" fxFlex>
                  hello
                </div>
                <div fxLayout="row" fxFlex>
                  hello
                </div>
                <div fxLayout="row" fxFlex>
                  hello
                </div>
                <div fxLayout="row" fxFlex>
                  hello
                </div>
                <div fxLayout="row" fxFlex>
                  hello
                </div>
                <div fxLayout="row" fxFlex>
                  hello
                </div>
              </div>
              <div fxLayout="column" id="list-column" fxFlex>
                <div fxLayout="row" fxFlex>
                  Sup
                </div>
                <div fxLayout="row" fxFlex>
                  Sup
                </div>
                <div fxLayout="row" fxFlex>
                  Sup
                </div>
                <div fxLayout="row" fxFlex>
                  Sup
                </div>
                <div fxLayout="row" fxFlex>
                  Sup
                </div>
                <div fxLayout="row" fxFlex>
                  Sup
                </div>
                <div fxLayout="row" fxFlex>
                  Sup
                </div>
                <div fxLayout="row" fxFlex>
                  Sup
                </div>
              </div>
            </div>
          </mat-card-content>
        <mat-divider></mat-divider>
        </mat-card>
        <div fxLayout="row" fxFlex>
          <div fxLayout="column" fxFlex>
            <button mat-raised-button id="nft-order-button">Order</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
